body{
    display: flex;
    background-color:#fff; 
    align-items: center;
    justify-content: center;
    height:100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    
   

}
.login-containar{
    width: 400px;
    height:400px;
    border-radius: 10px;
    background-color:#fff;
    padding:40px,50px;
    border: solid black;
    text-align:center;
    margin: right 20px;
  
}
 h1{
    padding-left: 40px;
    text-shadow: #fff;
    text-align: center;
}
button{
    background-color:rgb(37, 106, 202);
    text-align: center;
    width: 100px;
    height: 20px;
    
    
}

input::placeholder{
    height: 150px;
    width: 900px;
    padding: 5px;
    font-size: medium;
    
}
input[type="password","username"]{
    width:320px;
    height: 20px;
}
.sign-container{
    width: 400px;
    height:550px;
    border-radius: 10px;
    background-color:#fff;
    padding:40px,50px;
    border: solid black;
    text-align: center;
    margin: right 20px;
    text-align:left;
    padding-left: 40px;
    display: block;
    
}
.btn{
    height: 20px;
    background-color: green;
    text-align: center;
    box-sizing: border-box;
    width: 350px;
    
}
input[type="fullName"]{
    width: 100%;
    height: 20px;
}
input{
    width: 90%;
}
b{

    margin-right: 280px;
}
select{
    margin-bottom: 10px;
    padding: 3px;
    width: 90%;
    box-sizing: border-box;
}
.remember{
    display: inline-flex;
    align-items: center;
    margin: 10px;
}
.remember input{
    margin-right: 1px;
}




